w.Rproj.user
**/*.o
bin/
bin/*
**/remove
**/*dynamic_log.txt
**/*_bigtable.tsv
**/*lk.csv
**/*fa
**/*_avgG.wig
**/*_bpprob.bed
**/*_bpprob.wig
**/*_extbpprob.wig
**/*_mfe.bed
**/*_mfe.wig
workflow/results*
*test
test*
*sbatch
*sbout
*.ROC
**/*_int.tsv
**/*_int4.tsv
ROC/
pdf/
.Rproj.user
